/*========================  ADD FONTS   =============================*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root{
    --bg-color: rgb(95, 94, 93);
    --title-color: rgb(245, 244, 244);
    --font-text: "Ubuntu", sans-serif;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-text);
}

h1, h3{
    color: var(--title-color);
    font-weight: 500;
    font-style: normal;
}


.main{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*===============    Main Card To do list    ================== */

/* =====Title list===== */
.container__card{
    display: flex;
    margin-top: 6rem;
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid white;
    width: 40rem;
    height: 50rem;
}

.contents__card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title__card{
    line-height: .5rem;
}

.title__card h1{font-size: 4rem;}

.title__card h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 1rem;
}


/* =====List works===== */
.list__work__bg{
    width: 100%;
    height: 45vh;
    position: relative;
    background-color: rgba(250, 235, 215, 0.309);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.list__work{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    top: 0rem;
}

.work__bg{
    border-radius: 20px;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    background-color: rgb(255, 170, 0);
}

.works__content{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.name__works{
    color: white;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.action__buttons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.action__buttons i{
    position: absolute;
    top: 0%;
    right: 1rem;
    cursor: pointer;
    color: red;
}

.checkbox__work{
    position: absolute;
    top: 0%;
    right: 2.3rem;
}



/* =====Buton add work===== */
.add__work__container{
    position: relative;
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.add__work__contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    position: relative;
    bottom: 0px;
    
    width: 80%;
    height: 10vh;
    /* border: 1px solid yellow; */
}

.input__work{
    /* display: flex;
    flex-direction: column; 
    border: 1px solid red;*/
    width: 19rem;
    height: 100%;
}

.input__work h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 0rem;
}

.input__work input{
    outline: none;
    border: none;
    width: 100%;
    height: 5vh;
    color: rgb(253, 253, 253);
    background-color: transparent;
    border: 1px solid #ffff;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--font-text);
}

/* .add__actions{
    border: 1px solid rgb(0, 255, 255);
    width: 10rem;
    height: 100%;
} */

.add__work{
    outline: none;
    border: none;
    background-color: transparent;  
    color: rgb(253, 253, 253);
    border: 1px solid greenyellow;
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    margin-top: 2.7rem;

    font-weight: 500;
    font-size: 20px;
    font-family: var(--font-text);
}